[submodule "onion/lib/libev"]
	path = onion/lib/libev
	url = git://github.com/scunningham/libev.git
[submodule "onion/lib/onion"]
	path = onion/lib/onion
	url = git://github.com/davidmoreno/onion.git
[submodule "crow/lib/crow"]
	path = crow/lib/crow
	url = https://github.com/ipkn/crow.git
