[submodule "benchmarks/onion/lib/libev"]
	path = benchmarks/onion/lib/libev
	url = ../../scunningham/libev.git
[submodule "benchmarks/onion/lib/onion"]
	path = benchmarks/onion/lib/onion
	url = ../../davidmoreno/onion.git
[submodule "benchmarks/crow/lib/crow"]
	path = benchmarks/crow/lib/crow
	url = ../../ipkn/crow.git
[submodule "benchmarks/kore/lib/kore"]
	path = benchmarks/kore/lib/kore
	url = ../../jorisvink/kore.git
[submodule "benchmarks/jester/lib/jester"]
	path = benchmarks/jester/lib/jester
	url = ../../dom96/jester
